@import "../base/variables";

header {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  .stalk--link-container {
    display: flex;
    flex-direction: column;
    & > div {
      display: none;
      margin-top: 8px;
    }
  }
  .intro {
    a {
      position: relative;
      display: inline-block;
      overflow: hidden;
      color: inherit;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: $gray;
        left: 0;
        right: 0;
        bottom: 0;
        transition: left 0.4s ease-in-out;
      }
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        background-color: $primary;
        left: 0;
        right: 0;
        bottom: 0;
      }
      &:hover {
        transition: color 0.4s ease-in-out;
        color: $primary;
      }
      &:hover::after {
        transition: left 0.4s ease-in-out;
        left: 100%;
      }
    }
  }
}

.toggle-theme {
  position: fixed;
  top: 42px;
  right: 16px;
  background: transparent;
  i {
    font-size: 24px;
    color: $black;
    transition: all 0.6s ease-in-out;
    transform: rotate(0deg);
  }
  &:hover i {
    transition: all 0.6s ease-in-out;
    color: $primary;
  }
}

body.dark {
  .toggle-theme {
    i {
      color: $white;
      transition: all 0.6s ease-in-out;
      transform: rotate(180deg);
    }
    &:hover i {
      transition: all 0.6s ease-in-out;
      color: $primary;
    }
  }
}

@media (min-width: $layout-breakpoint-medium) {
  header {
    flex-direction: row;
    justify-content: space-between;
    .intro {
      p {
        max-width: 480px;
      }
    }
    .stalk--link-container {
      h5 {
        font-size: $h6;
      }
      align-items: flex-end;
      text-align: right;
      & > div {
        display: initial;
      }
    }
  }
  .toggle-theme {
    position: initial;
  }
}

@media (min-width: $layout-breakpoint-large) {
  header {
    .intro {
      p {
        max-width: 560px;
      }
    }
  }
}
