@font-face {
  font-family: "Roobert";
  src: url("../assets/fonts/Roobert-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roobert";
  src: url("../assets/fonts/Roobert-Regular.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Roobert";
  src: url("../assets/fonts/Roobert-Bold.woff");
  font-weight: 900;
}
