@import "./variables";
@import "./mixins";

body {
  @include theme-colors($light-theme: true);
  background-color: $white;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 24px 16px;
  max-width: $layout-breakpoint-small;
  box-sizing: content-box;
  font-size: $content-main;
  line-height: 1.5;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
body.dark {
  background-color: $black;
  @include theme-colors($light-theme: false);
  article {
    border-color: $white;
  }
}

canvas {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}
h6 {
  font-size: $h6;
}

a {
  outline: none;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
