$layout-breakpoint-small: 480px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 1024px;

// COLORS

$black: #161616;
$white: #fafafa;
$gray: #a3a3a3;
$primary: #0f62fe;
$secondary: #393939;
$text-primary: #393939;
$text-secondary: #a3a3a3;

// FONT SIZE

$h1: 72px;
$h2: 64px;
$h3: 48px;
$h4: 40px;
$h5: 32px;
$h6: 24px;
$content-main: 19px;
$content-secondary: 14px;
$content-info: 9px;
